
  <div class="gravatar_jumbotron">
    <div class="jumbotron">
      <div class="container-fluid">
        <h1>Welcome, <%= current_user.name %></h1>
        <h3>Before you start dibbing, make sure go over to <u><a href="https://en.gravatar.com/">Gravatar.com</a></u></h3>
        <p>to make your own personal image. That way everyone can see who has dibbed what, and your not just some boring stock photo image.
        </p>
      </div>
    </div>
  </div>
