<div class="container-fluid">
  <div class="gravatar_jumbotron">
    <div class="jumbotron">
      <h1>Welcome, <%= current_user.name %></h1>
      <h3>Before you start dibbing, make sure go over to <a href="https://en.gravatar.com/">Gravatar.com</a></h3> to make your own personal image. That way everyone can see who has dibbed what, and your not just some boring stock photo image.
      <p></p>
    </div>
  </div>
</div>
