<div>
  <div class="jumbotron">
    <% if logged_in? %>
      <center><h1>Sup, <%= current_user.name %>!</h1></center>
      <center><h3>Welcome Back to Dibit</h3></center>
    <% else %>
      <center><h1>Welcome to DibIt!</h1></center>
      <center><h3>Respect all dibs, Ye who enter here!<h3></center>
    <% end %>


      <% if logged_in? %>
        <center><%= link_to "View Dibs", dibs_path, class: "btn btn-lg btn-success viewer"%></center>
      <% else  %>
        <center><%= link_to "Sign Up Now", register_path, class: "btn btn-lg btn-success"%></center>
      <% end %>

  </div>

  <div>
    <div class="col-md-6">
      <h3 class="midrow"><u>What is DibIt?</u></h3>
        <p>Have you and your friends ever wanted to keep a running list of everything that you've dibbed. Well, now you can! Dibit is the place to call your dibs and make sure that everyone respects them. </p>
        <p>Every Dib on this site is officially official, and they cannot be stolen. Respect all dibs, and don't be THAT guy!</p>
    </div>

    <div class="col-md-6">
      <h3 class="midrow"><u>Who can DibIt?</u></h3>
        <p>Anyone who has dibs and promises to respect other peoples dibs.</p>
        <p>BUT mainly it will be Cameron, Daniel, Colin, David, Chris, and Shayne.</p>
    </div>
  </div>
</div>
