<div>
  <div class="jumbotron">
    <center><h1>Welcome to DibIt!</h1></center>
    <center><h3>Respect all dibs, Ye who enter here!<h3></center>
      <center><%= link_to "Sign Up Now", "", class: "btn btn-lg btn-success"%></center>
      <center><%= link_to "View Dibs", "", class: "btn btn-lg btn-success viewer"%></center>
  </div>

  <div>
    <div class="col-md-6">
      <h3 class="midrow"><u>What is DibIt?</u></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consequat id eros vitae egestas. Proin elementum sollicitudin turpis quis pretium</p>
        <p>Vestibulum a nulla malesuada, suscipit ex id, viverra arcu. Suspendisse fringilla ornare mi et malesuada.</p>
    </div>

    <div class="col-md-6">
      <h3 class="midrow"><u>Who can DibIt?</u></h3>
        <p>Integer luctus, lorem in facilisis imperdiet, massa elit interdu</p>
        <p> tellus ut posuere rutrum, ipsum orci feugiat leo, at sagittis elit arcu at diam. Fusce a urna eu justo molestie tincidunt vitae non velit. Nulla</p>
    </div>
  </div>
</div>
