@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

h5{
  color: black;
}

#navbar{
  background-color: #0000B8;
  li {
    a {
      color: white;
    }
  }
}
.nav {
  height: 60px;
}

.gravatar_jumbotron{
  .jumbotron{
    height: 700px;
  }
}
.logo {
  border-radius: 30px;
  height: 47px;
  width: 47px;
  margin-top: 5px;
  background: asset-url("dibit_logo.png") center center no-repeat;
  background-size: contain;
  float:left;
  }

.jumbotron {
  height: 350px;
  background-image: url(https://lh3.googleusercontent.com/-83YfVqCjLL4/Vcqjhy1Nd_I/AAAAAAAAAMQ/UUNQsXrLc1k/s640-Ic42/landscape.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  .viewer {
    margin-top: 20px;
  }
}
.jumbotron{
  h1{
    line-height: -20px;
  }
}

.gravatar{
  border-radius: 15px;
}

#index_header{
  text-align: center;
}

.me{
  text-align: left;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.fa{
  color: white;
  padding-left: 15px;
}
.check-circle{
  .fa-check-circle-o{
    float: right;
  }
}


.well {
  background-color: #0000B8;
  border-radius: 15px;
}
.all-white {
  color: white;
}

#dib_name {
  text-align: center;
}
h4 {
  a {
    color: white;
  }
}

label{
  color: white;
  position: center;
}

input, textarea, select, .uneditable-input {
  border: 1px solid;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;

}

input{
  height: auto !important;
}

span.picture {
    margin-top: 10px;
  input{
    border: 0
}
}

.show_dib {
  margin: 10px 10px 10px 10px;
}

.dibber_info{
  padding-left: 60px;
}

.dibber_pic{
  display: block;
}
hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

///////////////////////// Media Queries /////////////////
@media(min-width: 320px) and (max-width: 767px){
  #navbar{
    height: 225px;
    ul{
      line-height: 35px;
      height: 15px;
    }
  }
  .navbar-right{
    li{
      top:115px;
    }
  }
  .navbar-header{
    background-color: #0000B8;
  }
  .navbar-nav{
      height: 40px;
  }
  .dibber_pic{
    display: none;
  }
  .dibber_info{
    padding-left: 0px;
  }
  .dibber_stats{
    display: none;
  }
  .well{
    .all-white{
      a{
        color: white;
      }
      .index_dibber_name{
        h5{
          color: white;
        }
      }
    }
  }
  .jumbotron{
    a{
      color: white;
    }
  }
  .gravatar{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 300px;
  }
}
@media(min-width: 767px){
  .well{
    .all-white{
      h5{
        display: none;
      }
    }
  }

}
